.preview-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    margin-bottom: 1.5rem;
    align-items: baseline;
}
.preview {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 350px;
    flex-shrink: 0;
    box-shadow: 0 2px 5px #0e0e0e;
    padding: 0.5rem;
    border-radius: 10px;
}
.preview img {
    width: 100%;

    max-height: 350px;
    object-fit: contain;
}
.error-message {
    color: rgb(219, 40, 49);
    text-align: center;
    margin-top: 1rem;
}

.preview-placeholder {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    height: 250px;
    color: #929292;
    background-color: #4e4e4e;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (prefers-color-scheme: light) {
    .preview-placeholder {
        background-color: #e0e0e0;
    }
    .preview {
        box-shadow: 0 2px 5px #0003;
    }
}
