<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title><a class="site-title" routerLink="/"> Phozy </a> </ion-title>
        <app-search-bar></app-search-bar>
        <ion-buttons slot="end" *ngIf="!isLoggedIn">
            <ion-button class="btn primary-btn" [routerLink]="['/sign-up']"
                >Join</ion-button
            >
        </ion-buttons>
        <ng-container *ngIf="user">
            <ion-chip slot="end" outline="true" (click)="showPopover($event)">
                <ion-avatar>
                    <img [src]="user.profile_image" />
                </ion-avatar>
                <ion-label [ngClass]="{'ion-hide':isMobile}"
                    >{{user.fullname}}</ion-label
                >
            </ion-chip>
        </ng-container>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <app-banner [loaded]="isLoaded"></app-banner>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingText="Pull down to refresh"
        ></ion-refresher-content>
    </ion-refresher>

    <app-cards
        (onLike)="likeOrUnlikePhoto($event)"
        (onCollect)="addToCollection($event)"
        (onDownload)="downloadPhoto($event)"
        [loaded]="isLoaded"
        [photos$]="photos$"
        [isLoggedIn]="isLoggedIn"
    ></app-cards>
    <ion-item lines="none" *ngIf="noMoreData">
        <div class="ion-text-center">You have reached the end.</div>
    </ion-item>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content
            loadingSpinner="lines-sharp"
            loadingText="Loading more..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
