<div class="card">
    <div class="card-top flex jc-end">
        <div class="card-btns-wrapper flex">
            <ion-button class="card-btn" title="Add to collection">
                <ion-icon
                    slot="icon-only"
                    name="bookmarks-outline"
                    (click)="collectPhoto(photo)"
                ></ion-icon>
            </ion-button>
            <ion-button
                class="card-btn"
                title="like"
                (click)="likePhoto(photo)"
            >
                <ion-icon
                    slot="icon-only"
                    [name]="photo.liked ? 'heart' : 'heart-outline'"
                ></ion-icon>
            </ion-button>
        </div>
    </div>
    <div class="card-image-wrapper">
        <ion-img
            [src]="photo.url"
            alt=""
            class="card-image"
            (click)="showPhotoModal(photo)"
        ></ion-img>
    </div>

    <div class="card-bottom">
        <div class="card-meta">
            <div class="card-meta-inner">
                <ion-avatar class="card-meta__avatar">
                    <ion-img
                        class="card-meta__avatar"
                        [src]="photo.user?.profile_image"
                        alt=""
                        [routerLink]="['/profile', photo.user?.username]"
                    ></ion-img>
                </ion-avatar>
                <div class="card-meta__info">
                    <ion-button
                        [routerLink]="['/profile', photo.user?.username]"
                        fill="clear"
                        class="card-meta__info-name"
                        >{{ photo.user?.fullname }}</ion-button
                    >
                </div>
            </div>

            <div class="card-btns-wrapper">
                <ion-button
                    (click)="downloadPhoto(photo)"
                    class="card-btn download-btn"
                    title="download"
                >
                    <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
                </ion-button>
            </div>
        </div>
    </div>
</div>
