<div class="card">
    <div class="card-top flex jc-end">
        <div class="card-btns-wrapper flex">
            <ion-button class="card-btn" title="Add to collection">
                <ion-icon
                    slot="icon-only"
                    name="bookmarks-outline"
                    (click)="collectPhoto(photo)"
                ></ion-icon>
            </ion-button>
            <ion-button
                class="card-btn"
                title="like"
                (click)="likePhoto(photo)"
            >
                <ion-icon
                    slot="icon-only"
                    [name]="isLiked ? 'heart' : 'heart-outline'"
                ></ion-icon>
            </ion-button>
        </div>
    </div>
    <div class="card-image-wrapper" (click)="showPhotoModal(photo)">
        <a [routerLink]="['/photo', photo.id]">
            <ion-img
                [src]="photo.url"
                [alt]="photo.caption"
                class="card-image"
            ></ion-img>
        </a>
    </div>

    <div class="card-bottom">
        <div class="card-meta">
            <div class="card-meta-inner">
                <div class="card-meta__info">
                    <a
                        [routerLink]="['/profile', photo.user?.username]"
                        fill="clear"
                        class="card-meta__info"
                    >
                        <ion-avatar class="card-meta__avatar">
                            <ion-img
                                class="card-meta__avatar"
                                [src]="photo.user?.profile_image"
                                alt=""
                                [routerLink]="[
                                    '/profile',
                                    photo.user?.username
                                ]"
                            ></ion-img>
                        </ion-avatar>
                        {{ photo.user?.fullname }}</a
                    >
                </div>
            </div>

            <ion-button
                (click)="downloadPhoto(photo)"
                class="card-btn download-btn"
                title="download"
            >
                <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
            </ion-button>
        </div>
    </div>
</div>
