<ion-header> </ion-header>

<ion-content>
    <div class="container">
        <ion-item lines="none">
            <ion-button
                class="primary-btn"
                [routerLink]="['/create/photo']"
                size="default"
            >
                <ion-icon slot="start" name="arrow-up"></ion-icon>
                Upload photo
            </ion-button>
        </ion-item>
        
        <ion-button fill="clear"  class="btn outline ion-margin" size="default"  [routerLink]="['/profile',currentUser.username]" >
            <ion-icon name="person" slot="start"></ion-icon>
            Profile
        </ion-button>
        <ion-item lines="none">
                <ion-buttons>
                <ion-button class="ion-margin" (click)="logout()">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    Log out
                </ion-button>
            </ion-buttons>
        </ion-item>
    </div>
</ion-content>
