.cards-container {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    grid-template-rows: minmax(400px, auto);

    grid-auto-flow: dense;

    grid-gap: 12px;
}

@media screen and (max-width: 727px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(230px, auto));

        grid-template-rows: minmax(auto, auto);
        grid-gap: 8px;
    }
}
