.cards-container {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 1rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    grid-template-rows: minmax(250px, auto);

    grid-auto-flow: dense;

    grid-gap: 16px;
    // justify-items: center;
    // align-items: center;
    // justify-content: center;
}
// .cards-container .single-card:nth-of-type(3n + 1) {
//     grid-column: span 2;
// }

.single-card {
    // width: 100%;
    // max-width: 300px;
    // height: auto;
    // flex: 1 0 auto;
    // min-height: 250px;
    // max-height: 500px;
    overflow: hidden;
    position: relative;
    --bg: var(--background);
    --text-color: var(--ion-text-color);
    // margin: auto;
}
.single-card-image-wrapper {
    // height: 100%;
    width: 100%;
    // border-radius: 10px;
    overflow: hidden;
    position: relative;
    // margin: 1rem auto;
}
.single-card-image {
    width: 100%;
    object-fit: cover;
}

.single-card-meta {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    // align-items: center;
    display: flex;
    backdrop-filter: blur(3px);
}
.single-card-btns-wrapper {
    padding: 0.5rem;
    gap: 0.25rem;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.single-card-btn {
    background: var(--bg);
    height: auto;
    width: auto;
    padding: 8px;
    border-radius: 5px;
    color: var(--text-color);
    &::part(native) {
        background: var(--bg);

        padding-inline-start: 0;
        padding-inline-end: 0;
        box-shadow: none;
    }
}

ion-avatar.single-card-meta__avatar {
    max-width: 40px;
    max-height: 40px;
    margin-right: 1rem;
    flex-shrink: 0;
}
.single-card-meta-inner {
    flex: 1 1 0;
    display: flex;
    align-items: center;
}
.single-card-meta__info {
    flex: 1 1 0;
}
.single-card-meta__info-name {
    text-transform: capitalize;
}

.single-card-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s ease-out;
    z-index: 3;
}
.single-card-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-out;
}

ion-icon.like-icon,
ion-icon.add-to-album-icon {
}

@media all and (prefers-color-scheme: dark) {
    // .single-card-meta {
    //     background-color: #000d;
    // }
}
@media screen and (max-width: 628px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));

        grid-template-rows: minmax(auto, auto);
    }

    .cards-container .single-card {
        grid-column: unset !important;

        grid-row: unset;
    }
    .single-card-meta {
        background: transparent;
        backdrop-filter: unset;
    }
    .single-card-meta-inner {
        display: none;
    }
}

@media screen and (min-width: 728px) {
    .single-card:hover {
        .single-card-bottom {
            transform: translateY(0);
        }
        .single-card-top {
            top: 0;
        }
    }
    .single-card-top {
        top: -100px;
    }
    .single-card-bottom {
        transform: translateY(100px);
    }
}
