
<div class="cards-container">
    <ng-container *ngIf="loaded; else loading"> </ng-container>
    <app-card
        [photo]="photo"
        *ngFor="let photo of photos$|async"
        (onLike)="likePhoto($event)"
        (onCollect)="collectPhoto($event)"
        (onDownload)="downloadPhoto($event)"
    ></app-card>
</div>

<ng-template #loading>
    <ng-container *ngFor="let skeleton of skeletons">
        <div class="card">
            <ion-skeleton-text
                [animated]="true"
                [style]="{ width: '100%', height: '350px' }"
            >
            </ion-skeleton-text>

            <ion-item>
                <ion-avatar>
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-avatar>
                <ion-skeleton-text
                    [animated]="true"
                    [style]="{ width: '50%', marginLeft: '16px' }"
                ></ion-skeleton-text>
            </ion-item>
        </div>
    </ng-container>
</ng-template>
