.album-card {
    height: 150px;
    width: 150px;
    position: relative;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &.collected {
        pointer-events: none;
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(var(--primary-rgb), 0.5);
        }
    }
    .album-card-meta {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 3;
    }
    .album-card-overlay {
        z-index: 2;
        position: absolute;
        inset: 0;
        background: rgba(var(--primary-rgb), 0.8);
    }
}
