<ion-card
    button
    class="album-card"
    [ngStyle]="{ backgroundImage: setCardBg(album.photos) }"
    [ngClass]="{ collected: isCollected }"
    (click)="selectAlbum(album, photo)"
>
    <div
        [ngClass]="{ 'ion-hide': !isCollected }"
        class="album-card-overlay"
    ></div>
    <!-- <ion-img
            [src]=""
            class="album-card-image"
        ></ion-img> -->

    <ion-note class="album-card-meta">
        <ion-icon name="camera"></ion-icon>
        {{ album?.photos?.length }}
    </ion-note>
</ion-card>
